text-display-widget {
  max-width:100%;

  label {
    display: block;
    margin-bottom: unset;
  }
}

.text-display-widget-container {
  display: block !important;
}

.text-display-widget-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-display-widget-placeholder {
  opacity: 0.5;
}