text-display-widget {
  max-width:100%;
}

.text-display-widget-container {
  display: block !important;
}

.text-display-widget-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;
  padding: 1px 5px;
}

.text-display-widget-placeholder {
  opacity: 0.5;
}